@model MacaMvc.Models.OrderViewFrameModel

@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>

    <p>Your address is : @Model.Address</p>

</address>

